/*html {
  background: url(images/Little_Laotian_Monkey.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

html, body {
  height: 100%;
}

body {
  background-image: url('../images/Little_Laotian_Monkey.jpg');
  background-size: 100% 700px;
  background-repeat: no-repeat;
  color: #ffeeee;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 100;
  font-style: normal;
  font-size: 6em;
  text-align: center;
  vertical-align: center;
}

h3 {
  font-weight: 400;
  font-style: normal;
}

p {
  font-weight: 100;
  font-style: normal;
  color: #444;
  text-align: left;
  padding: 5px;
}

p a {
  color: #444444;
  font-size: .95em;
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  display: inline;
  padding: 1em;
  color: #aa9988;
}

/*hr {
    height: 30px;
    margin-top: 25px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}*/

/* */ /* Not really supposed to work, but does */
    /*display: block;
    content: "";
    height: 30px;
    margin-top: -31px;    
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}*/

a {
  text-decoration: none;
  color: white;
}

li a {
  color: #aa9988;
}

#wrap {
  min-height: 100%;
}

#main {
  /*overflow:auto;*/
  /*overflow-y:hidden;
  overflow-x:hidden;*/
  padding-top: 60px;
  padding-bottom: 150px;
  height: 150px;
  }  /* must be same height as the footer */

#footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
} 

#developer {
  padding: -8px;
  font-size: 1.25em;
  font-weight: 400;
}

#welcomeblock {
  display: inline-block;
  position: relative;
  vertical-align: top;
  float: left;
  height: 257px;
  width: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  opacity: .7;
  float: left;
  background-color: #333;
}

#getstartedblock {
  display: inline-block;
  position: relative;
  float: left;
  vertical-align: top;
  padding-top: 70px;
  padding-right: 20px;
  padding-left: 0;
  padding-bottom: 20px;
  height: 250px;
  width: 400px;
  text-align: center;
  background-color: #eeeeee;
  opacity: .5;
}

#businesscard {
  display: inline-block;
  position: relative;
  height: 270px;
  width: 100px;
  padding-top: 65px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  background-color: #ffeeee;
  opacity: .7;
  color: #554433;
}

#businesscard p {
  font-family: 'Lato', sans-serif;
}

#welcome {
  font-family: 'Lobster', Helvetica;
  color: #eecc99;
  font-size: 9em;
}

#firstname {
  font-size: 1.65em;
  font-weight: 400;
  font-style: normal;
}

#lastname {
  font-size: 1.2em;
  font-weight: 400;
}

.find-a-monkey {
  font-size: 1.6em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center;
}

#call-to-action {
  font-family: 'Lobster', cursive;
  font-size: 4em;
  color: #aa9988; 
  text-align: center;
}

#contact {
  position: relative;
  left: 7px;
  top: 30px;
  height: 5px;
  background-color: #999988;
}

#contact:hover {
  background-color: white;
}

#email {
  font-size: 2em;
  text-align: center;
  padding: 20px;
  height: 25px;
  width: 125px;
  border-radius: 2px;
  border: 1px solid #eeeeee ;
  background-color: #554433;
}

#email:hover {
  background-color: #470105;
}

.navigation {
  color: #aa9988;
  display: inline;
}

.navigation:hover {
  color: #ddbbaa;
}

#project-list {
  position: absolute;
  margin-left: 350px;
  padding-top: 10px;
  padding-left: 5px;
  height: 100px;
  width: 120px;
  background-color: #eeeeee;
}

#learn-to-code {
  position: absolute;
  height: 100px;
  width: 120px;
  margin-left: 480px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #eeeeee;
}

#about-the-monkey {
  position: absolute;
  height: 100px;
  width: 120px;
  margin-left: 650px;
  padding-top: 10px;
  background-color: #eeeeee;
}

#about-me {
  position: absolute;
  height: 100px;
  width: 120px;
  margin-left: 820px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #eeeeee;
}

/* PROJECTS SECTION */

/*#railsbackground {
 height: 400px;
 background-color: tomato; 
}*/

#project-heading h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #554433;
  font-size: 5em;
}

.span_1_of_3 h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  color:#999988;
}

.span_1_of_3 p {
  font-family: sans-serif;
  height: 60px;
  width: 150px;
  text-align: left;
  padding-top: 10px;
  padding-left: 130px;
  padding-bottom: 80px;
}

.span_1_of_3 a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: silver; 
}

.span_1_of_3 a:hover {
  color: #aa9988;
}

#project-heading {
  height: 120px;
  width: 100%;
  padding-top: 350px;
  padding-left: 45px;
/*  background-color: #eeeeee;*/
  opacity: .5;
}

.projects {
  padding-bottom: 30px;
}

.project-one {
  text-align: center;
  border-top: #eecc99 solid 1px;
  border-bottom: #eecc99 solid 1px;
  height: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.project-two {
  text-align: center;
  border-top: #aa9988 solid 1px;
  border-bottom: #aa9988 solid 1px;
  height: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.project-three {
  text-align: center;
  border-top: #ddbbaa solid 1px;
  border-bottom: #ddbbaa solid 1px;;
  height: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
}


/* ABOUT SECTION */

.about-me h2, .about-monkey h2 {
  text-align: center;
  font-size: 1.5em;
  padding-top: 20px;
  color: #333;
}

.about-monkey h2 {
  color: #eecc99;
}

.about-me  {
  height: 200px;
  width: 500px;
  background: url('images/brillant.png');
  padding-bottom: 50px;
}

.connect-icons {
  padding-left: 257px;
}

.connect-icons a {
  margin-right: 15px;
}


.about-me p, .about-monkey p {
  height: 80px;
  width: 200px;
  font-family: sans-serif;
  text-align: left;
  padding-top: 20px;
  padding-left: 220px;
  padding-right: 40px;
}

.about-monkey p {
  color: #eecc99;
}

.about-monkey {
  height: 200px;
  width: 100%;
  background: url('images/dark_wood_@2x.png');
}

#footer p {
  height: 50px;
  width: 550px;
  border: 1px solid #333;
  text-align: center;
  padding-top: 30px; 
  margin-left: 350px;
}

/*  GRID OF THREE  */
.span_3_of_3 {
  width: 100%;
}
.span_2_of_3 {
  width: 66.1%;
}
.span_1_of_3 {
  width: 32.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col { 
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 480px) {
  .span_3_of_3 {
    width: 100%; 
  }
  .span_2_of_3 {
    width: 100%; 
  }
  .span_1_of_3 {
    width: 100%;
  }

  h1 {
    text-align: center;
    color: #333;
    font-size: 2em;
    padding-top: 10px;
  }

  #project-heading {
    padding-top: 10px;
    padding-left: 0;
    padding-bottom: 150px;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
  }
}


/*Opera Fix*/
/*body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/
}*/

  /*  SECTIONS  */
  .section {
    clear: both;
    padding: 0px;
    margin: 0px;
  }

  /*  COLUMN SETUP  */
  .col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
  }
  .col:first-child { margin-left: 0; }


/*  GROUPING  */
  .group:before,
  .group:after {
    content:"";
    display:table;
  }
  .group:after {
    clear:both;
  }
  .group {
      zoom:1; /* For IE 6/7 */
  }

  .span_2_of_2 {
    width: 100%;
  }

  .span_1_of_2 {
    width: 49.2%;
  }

/* HIDE MOBILE NAVIGATON ELEMENTS FOR DESKTOP DISPLAY  */
@media only screen and (min-width: 481px) and (max-width: 1500px) {

  .mobile {
    display: none;
  }
  
}

/*  GO FULL WIDTH AT 768 PIXELS */

@media only screen and (min-width: 481px) and (max-width: 1200px) {

  .span_2_of_2 {
    width: 100%;
  }

  .span_1_of_2 {
    width: 100%;
  }

  h1 {
    font-size: 3.5em;
  }

  blockquote {
    display: none;
  }

  /*#mobile-header {
    visibility: hidden;
  }*/

  .mobile {
    display: none;
  }

  #welcomeblock {
    padding-bottom: 5px;
    padding-left: 0px;
    width: 100%;
  }

  #getstartedblock {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 75%;
    height: 275px;
  }

  #welcome {
    font-size: 4.5em;
  }

  #businesscard {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 10%;
    height: 275px;
    text-align: center;
  }

  #firstname {
    font-size: 1em;
    padding-top: 45px;
    padding-left: 0;
  }
  
  #developer {
    font-size: 1em;
    padding: 0;
  }

  #lastname {
    font-size: 1em;
    padding-left: 0;
    padding-top: 7px;
  }
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  
  .span_2_of_2 {
    width: 100%; 
  }

  .span_1_of_2 {
    width: 100%; 
  }

  li {
    display: list-item;
    font-size: 2em;
  }

  li a:hover {
    color: #ddbbaa;
  }

  h1 {
    padding-left: 20px;
  }

  #mobile-navigation-bars {
    height: 50px;
    margin-bottom: 5px;
    background-color: #470105;
    opacity: .4;
    width: 100%;
  }

  #mobile-navigation-image {
    padding-left: 40px;
    padding-top: 20px;
  }

  #main {
  /*overflow:auto;*/
  /*overflow-x: hidden;
  overflow-y: hidden;*/
    /*padding-top: 60px;*/
    padding-bottom: 150px;
    height: 150px;
  }

  #footer {
    visibility: hidden;
  /*position: relative;
  margin-top: -150px;  negative value of footer height 
  height: 150px;
  clear:both;*/
  } 

  #welcomeblock {
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 25px;
    width: 100%;
  }

  #getstartedblock{
    padding-top: 5px;
    margin-bottom: 5px;
    padding-left: 0;
    width: 100%;
  }

  #welcome {
    font-size: 5.5em;
    padding-left: 20px;
  }

  #call-to-action{
    color: #470105;
  }

  #businesscard {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: 200px;
    text-align: center;
  }

  #email {
    font-size: 1em;
    text-align: center;
    padding: 20px;
    height: 20px;
    width: 10px;
    border-radius: 2px;
    border: 1px solid #eeeeee ;
    background-color: #554433;
}

  #firstname, #lastname, #developer {
    padding-left: 50px;
}

  #find-a-monkey {
    font-size: .6em;
  }
}
/*
PAGES:  Learn to Code*/

h1 {
  font-family: Arial;
}

