body {
  background: url(bb.jpg);
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

h1 {
  color: tomato;
}

h2 {
  color: black;
}

h4 {
  color: black;

}

p {
  color: tomato;
}

ul {
  list-style-type: none;
  color:  #33334C;
}

